@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

$primary-background: #e9d6d7;
$primary-text: #5b441f;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Times New Roman', sans-serif;
	width: 100%;
}

body {
	display: flex;
	width: 100%;
	color: $primary-text;
	background-color: $primary-background;
}

// img {
// 	width: 100%;
// }

a,
button {
	background-color: #d8ac7f;
	padding: 1rem;
	text-decoration: none;
	border: none;
	width: fit-content;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: 0.1rem;
	color: black;
}

a:hover,
button:hover {
	background-color: #e3bc95;
}
a:active,
button:active {
	box-shadow: 0 0 0 2px #bb7026;
	background-color: #d8ac7f;
}

#app {
	width: 100%;
}

html {
	scroll-behavior: smooth;
}
