@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-family: 'Times New Roman', sans-serif;
  width:100%;
}

body{
  display:flex;
  width:100%;
}

.app{
 max-width: 80%;
 margin:auto;
 padding:1rem;
}

